body{
	background-color: grey;
}

nav {
	text-align: center;
	background-color: white;
	padding: 0% 7% 0% 7%

}
ul{
	text-align: left;
	list-style-type: none;
	padding: 5%;
}
footer{
	text-align: center;
	background-color:black ;
	color: white;
}